/* formulario-estilo.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root{
    --color-principal:#aa50d4;
    --color-secundario:#2c68a3;
}

html {
    width: 100%;
    height: 100%;
    cursor: url("/img/cursor/pointer.png"), default;
    cursor: url("/img/cursor/pointer.png"), pointer;
  }

  
body {
    height: 100vh;
    background: rgb(170,80,212);
    background: linear-gradient(0deg, rgba(170,80,212,1) 0%, rgba(44,104,163,1) 100%); 

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
}

h1 {
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    color: var(--color-principal);
    text-transform: capitalize;
    letter-spacing: 2px;
}

form {
    background: #fff;
    padding: 15px 35px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form {
    width: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 35px 5px;
}

input {
    width: 100%;
    background: none;
    padding: 10px 0px 5px 0px;
    display: block;
    border: none;
    border-bottom: 1px solid var(--color-principal);
    font-weight: 100;
    font-size: 18px;
    color: #000000;
}

input:focus {
    outline: none;
    color: #000000;
}

label {
    margin-bottom: 10px;
    color: #c0c0c0;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    left: 2px;
    top: 15px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label {
    top: -11px;
    font-size: 11px;
    color: var(--color-secundario);
    margin-bottom: 5px;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0px;
    bottom: 0; 
    position: absolute;
    background: linear-gradient(to bottom, #06d6a0, #ffd166 );
    transition: 0.3s ease width;
    left: 0px;
}

input:focus~.barra::before {
    width: 100%;
}

button {
    margin: 10px;
    border: none;
    height: 100%;
    color: #fff;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    background: #fff;
    border: 3px solid black;
    box-shadow: 5px 7px black;
    font-family: 'Rubik', sans-serif;
    background: var(--color-principal);
    cursor: url("/img/cursor/mano.png"), pointer;
}

button:hover {
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 10px 10px black;
}


.finalrTextForm {
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #1e5acc;
    margin: 5px 10px;
}

.siVerificated {
    border-bottom: 1px solid #40940b;
}

.noVerificated {
    border-bottom: 1px solid #f44254;
}

.warning {
    font-size: 10px;
    color: #f44254;
    display: flex;
    justify-content: start;
    margin-top: 3px;
}

.warningIncomplete {
    font-size: 15px;
    color: #f44254;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.backPadre {
    margin-top: 2%;
    margin-left: 5px;
    margin-bottom: 5px;
    background: var(--color-principal);
    width: 16%;
    border-radius: 100px;
}

.back {
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 500;
}

@media (max-width: 740px) {
    h1 {
      font-size: 20px;
    }
    
    form {
      padding: 15px;
    }
    
    .backPadre {
      width: 40%;
    }
    
    .back {
      font-size: 0.8em;
    }
  }